<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>

    {# NavBar #}
    {% block navbar %}
     <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home_page') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('books:index') }}">Livre</a>
                </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('books:create') }}">Création</a>
                </li>
            {% endif %}
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">BOOK STORE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div> 
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('books:index') }}">{{ app.user.fullname }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                {% block sidebar %}{% endblock %}
            </div>

    <div class="col-9">
                {% block content %}
                    <nav>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {# Authenticated user #}
                        <a href="{{ path('books:index') }}">user name</a>
                        <a href="{{ path('app_logout') }}">Deconnexion</a>
                    {% else %}
                    {# Anonymous user #}
                        <a href="{{ path('register') }}">Inscription</a>
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                    </nav>
                {% endblock %}
                </div></div></div>
    {% block body %}{% endblock %}


        <footer>
        <div class="container">
        <div class = "text-center">{{ copyright(2017) }}
        <copyright>
        </div>
        </div>
        </footer>
    {% block javascripts %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </body>
</html>
